<%- include('../partials/login-header') %>

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="/login"> <h4>Rosella</h4></a>
                                  <% if(typeof msg !== 'undefined' && typeof msg.msg !== 'undefined') { %>
                                  <p class = "alert alert-success ml15 mr15 text-center"><%- msg.msg %></p>
                                  <% } %>
                                  <% if(typeof errors !== 'undefined' && typeof errors.msg !== 'undefined') { %>
                                    <p class = "alert alert-danger ml15 mr15 text-center"><%- errors.msg %></p>
                                    <% } %>
                            <form class="mt-5 mb-5 login-input" action="/forget" method="post">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" value="" placeholder="Email">
                                    <% if(typeof errors !== 'undefined' && typeof errors.email !== 'undefined') { %>
                                    <p class = "error"><%- errors[ "email" ] %></p>
                                    <% } %>
                                </div>
                                <input type="submit" class="btn login-form__btn submit w-100" value="Sign In"/>
                            </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/login-footer') %>
